* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen_height {
    height: 100vh;
    width: 100vw;
    background-color: mediumseagreen;

}

#block_1 {
    display: flex;
    background-color: plum;

}

#block_1 .center {
    text-align: center;
    font-size: 200%;
    color: blue;
    line-height: 30vh;
    width: 30vw;
    height: 30vh;
    margin: auto;
    background-color: blue;
    transition: all .3s ease-out;

}

#block_1 .fade-out {
    /* transform: scale(2); */
    background-color: white;
    transition: all .3s ease-out;
}